/* .p-top2-waves {
  transform: rotate(180deg);
  width: 100vw;
  top: 85vh;
  height: 95vh;
  left: 0;
  position: absolute;
}

.p-middle-video {
  width: 100vw;
  max-width: 100vw;
}
.p-top1-waves {
  position: absolute;
  top: -45%;
  left: 0;
  right: 0;
}
.p-circle1 {
  width: 50%;
  position: absolute;
  transform: rotate(120deg);
  left: -15%;
  bottom: -130%;
}
.p-circle2 {
  width: 50%;
  position: absolute;
  left: 80%;
}
.p-abort-wave {
  position: absolute;
  right: 0;
  left: 0;
}
.p-circle3 {
  width: 200px;
  position: absolute;
  right: 60%;
  bottom: -120%;
}
.p-circle4 {
  width: 200px;
  position: absolute;
  transform: rotate(160deg);
  left: 80%;
  right: 0;
  bottom: -130%;
  z-index: 1;
}

.p-connect-btn-main {
  z-index: 1;
  position: absolute;
  right: 0;
  margin: 20px;
}
.p-nft-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -90%;
  font-size: 60pt;
  text-align: center;
  font-family: "JosefinSans";
} */
