.p-main-container {
  background-image: url("../assests/images/background.svg");

  /* width: 100vw; */
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.p-connect-btn-main {
  z-index: 1;
  position: absolute;
  right: 0;
  margin: 20px;
}
.p-nft-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -90%;
  font-size: 60pt;
  text-align: center;
  font-family: "JosefinSans";
}
.p-middle-video {
  width: 100%;
}
