.main-header {
  position: fixed;
  background-color: #80abb5;
  right: 0;
  left: 0;
  padding: 5px;
  top: 0;
  height: auto;
  z-index: 100;
  padding: 0 30px;
  /* margin-top: 40px; */
}
.header-container {
  width: 100%;
  max-width: 100%;
  padding: 5px 0;
  display: flex;

  justify-content: space-evenly;
  align-items: center;
}
.left-navbar {
  display: flex;
  align-items: center;
  /* margin-right: 5%; */
}
.logo-navbar {
  width: 30%;
  /* margin-left: 6vw; */
}
li.submenu {
  list-style-type: none;
  margin-right: 30px;
  padding: 0;
}
li.submenu:hover {
  cursor: pointer;
  color: #f8cd3f;
  border-bottom: #f8cd3f solid 1px;
}

.navigation-menu {
  display: flex;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 2px;
}
.navbar-button {
  width: 7rem;
  height: 3rem;

  background-color: #f8cd3f;
  color: white;
  letter-spacing: 2px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 30px;
  text-transform: uppercase;
}

.check-menu {
  display: none;
}
.p-user {
  /* width: 50px; */
  width: 50px;
  padding: 10px;
}
.user-img {
  margin-right: 20px;
  background-color: #f8cd3f;
  border-radius: 100px;
}
.logo {
  max-width: 450px;
}
/* ................responsive........................... */
@media screen and (max-width: 1024px) {
  .logo {
    max-width: 600px;
  }
}
