.main-header {
  position: fixed;
  background-color: #f49066;
  right: 0;
  left: 0;

  top: 0;
  height: 10%;
  /* margin-top: 20px; */
  z-index: 1;
}
.header-container {
  width: 100%;
  max-width: 100%;

  display: flex;

  justify-content: space-between;
  align-items: center;
}
.left-navbar {
  display: flex;
  align-items: center;
  margin-right: 5%;
}
.logo-navbar {
  width: 10vh;
  /* margin-top: 10px; */
  padding: 10px;
  margin-left: 50px;
}
li.submenu {
  list-style-type: none;
  margin-right: 30px;
  padding: 0;
}
li.submenu:hover {
  /* color: #2443ac; */
  cursor: pointer;
}

.navigation-menu {
  display: flex;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}
.navbar-button {
  /* padding: 15px; */
  width: 7rem;
  height: 3rem;
  font-weight: 500;
  background-color: #00566a;
  color: white;
  border: none;
  font-size: 1.2rem;
  border-radius: 30px;
}
.check-menu {
  display: none;
}
.p-user {
  width: 50px;

  margin-right: 20px;
}
.main-logo {
  margin-left: 0px;
}
