.profile-main-div {
  background-image: url("../assests/images/Background-navbar.svg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-top: 20px;
}

.profile-hero-section {
  margin-top: 10%;
  /* border: 1px solid; */
  width: 30%;
  /* margin: 0 auto; */
  border-radius: 20px;
  margin-left: 35%;
  height: auto;
  background-color: #fad39a;
  box-shadow: 3.9661px 0px 41.0636px -4px rgba(0, 0, 0, 0.41);
}
.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  padding: 10px;
}
.user-profile-div {
  /* margin-right: 20px; */
  background-color: #f8cd3f;
  border-radius: 100px;
  width: max-content;
  margin: 0 auto;
}
.profile-form-main {
  padding-top: 50px;
  padding-bottom: 30px;
}
.div-btn-main {
  background-color: #00566a;
  color: white;
  width: 27%;
  padding: 7px;
  /* font-size: 1.2rem; */
  border-radius: 10px;

  margin-top: 30px;
}
.div-profile-info {
  color: #f16386;
  font-family: "JosefinSans-Light";
  font-weight: 700;
  /* margin-top: 30px; */
}
.div-username-main {
  font-size: 2rem;
  letter-spacing: 2px;
  padding-bottom: 20px;
}
.div-email-main {
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding-bottom: 10px;
}
.div-wallet-main {
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.edit-profile {
  background-color: #00566a;
  color: white;
  width: 35%;
  padding: 7px;
  /* font-size: 1.2rem; */
  border-radius: 10px;

  margin-top: 30px;
}
.button-flex {
  display: flex;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

/* ...........res.................. */
@media screen and (max-width: 1024px) {
  .profile-form-main {
    width: 100%;
  }
  .profile-hero-section {
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;
  }
}

@media screen and (max-width: 1024px) {
  .profile-form-main {
    width: 100%;
  }
  .profile-hero-section {
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;
  }
}
