.p-main-register{
   width: 40%;
  margin: 0 auto;
  height: auto;
margin-top: 10%;
padding: 15px;
border-radius: 10px;
box-shadow: 0px 0px 6px 5px #eff0ee;
}
/* .p-register-label{
      margin-right: 80%;
} */
.p-register-input{
  margin-top: 15px;
}