.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* background-image: url("../assests/images/Background-navbar.svg"); */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.font-face-gm {
  font-family: "JosefinSans-Light";
}
.font-face-gm-extralight {
  font-family: "JosefinSans-ExtraLight";
}
.font-face-gm-aqiure {
  font-family: "AquireLight-YzE0o";
}
.font-face-gm-thin {
  font-family: "JosefinSans-Thin";
}
.font-face-gm-aquire-bold {
  font-family: "AquireBold-8Ma60";
}
/* .font-face-gm-bold {
  font-family: "JosefinSans-Bold";
} */
.font-face-gm-medium {
  font-family: "JosefinSans-Medium";
}
.font-face-gm-semibold {
  font-family: "JosefinSans-SemiBold";
}
