@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JosefinSans-Light";
  src: local("JosefinSans-Light"),
    url("./assests/JosefinSans-Light.ttf") format("truetype");
  font-weight: lighter;
}
@font-face {
  font-family: "JosefinSans-ExtraLight";
  src: local("JosefinSans-ExtraLight"),
    url("./assests/JosefinSans-ExtraLight.ttf") format("truetype");
  font-weight: lighter;
}
@font-face {
  font-family: "JosefinSans-Thin";
  src: local("JosefinSans-Thin"),
    url("./assests/JosefinSans-Thin.ttf") format("truetype");
  font-weight: thin;
}

@font-face {
  font-family: "AquireLight-YzE0o";
  src: local("AquireLight-YzE0o"),
    url("./assests/AquireLight-YzE0o.otf") format("truetype");
  font-weight: lighter;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
